// banner
.index-banner
  position relative
  height 960px
  background url('./img/index-banner.png') no-repeat center
// 公用
.index-common-title
  padding 70px 0 56px
.index-form
  .index-input-list
    width 300px
    height 71px
    box-sizing border-box
    padding-left 26px
    border-radius 5px
    &.index-input-phone
      margin-left 52px
    .index-input-content
      min-width 0
      border none
      outline none
  .index-input-button
    margin-left 60px
    .index-button-content
      width 200px
      user-select none
      height 71px
      line-height 71px
      border-radius 5px
      cursor pointer
      background-image linear-gradient(140deg, #ff5555, #ec266a)
// 洞见云介绍
.index-introduce
  height 943px
  .index-info
    padding-top 121px
  .index-title
    margin 36px 0
  .index-article
    line-height 40px
  .index-right-content
    width 900px
  .index-column
    margin-top 145px
  .index-list
    width 290px
    height 342px
    box-sizing border-box
    transition all 0.3s ease-in-out
    .index-list-container
      border 1px solid #dcdcdc
      border-top none
      transition all 0.3s ease-in-out
    .index-list-top-block
      height 9px
      background-color #1f2325
      transition all 0.3s ease-in-out
    &:hover
      box-shadow 0 0 14.08px 1.92px rgba(69, 67, 65, 0.3)
      .index-list-container
        border 1px solid #f43862
        border-top none
      .index-list-top-block
        background-color #f43862
// 嗨皮创业
.index-entrepreneurship
  height 1150px
  .index-img-banner
    height 430px
  .index-title
    margin 53px 0 0 0
  .index-column
    margin-top 147px
  .index-list
    width 290px
    h5
      margin-bottom 15px
// 其它疑问
.index-other-questions
  height 565px
  .index-title
    padding-top 98px
  .index-describe
    padding-top 50px
  .index-tip
    margin 105px 0 0 0