// banner
.index-banner
  position relative
  height 960px
  background url(./img/index-banner.png) no-repeat center
// 嗨皮创业
.index-haipi-entrepreneurship
  height 1130px
  .index-haipi-info
    padding-top 121px
  .index-title
    margin 36px 0
  .index-article
    line-height: 80px